<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="col-md-2" style="background-color: #eeeeee; display: inline-block; padding:0 20px; font-weight: bold; margin:50px 0;" >マイページ</h4>
      <div class="form-group" style="display: flex">
          <h5 class="col-md-2" style="font-weight: bold;">登録情報</h5>
          <%= link_to"編集する",edit_users_path,class: "btn btn-success" %>
      </div>
　　　<!--会員情報-->
      <table border="1" style="margin:10px;">
       <tr>
         <th style="padding: 15px 10px; background-color: #eeeeee;">氏名</th>
         <td style="padding: 15px 10px;"><%= @user.last_name %> <%=@user.first_name%></td>
       </tr>
       <tr>
         <th style="padding: 15px 10px; background-color: #eeeeee;">カナ</th>
         <td style="padding: 15px 10px;"><%= @user.last_name_kana %> <%=@user.first_name_kana%></td>
       </tr>
       <tr>
         <th style="padding: 15px 10px; background-color: #eeeeee;">国籍</th>
         <td style="padding: 15px 10px;"><%= @user.nationality %></td>
       </tr>
       <tr>
         <th style="padding: 15px 10px; background-color: #eeeeee;">郵便番号</th>
         <td style="padding: 15px 10px;"><%= @user.post_code %></td>
       </tr>
       <tr>
         <th style="padding: 15px 10px; background-color: #eeeeee;">住所</th>
         <td style="padding: 15px 10px;"><%= @user.address %></td>
       </tr>
       <tr>
         <th style="padding: 15px 10px; background-color: #eeeeee;">電話番号</th>
         <td style="padding: 15px 10px;"><%= @user.phone_number %></td>
       </tr>
       <tr>
         <th style="padding: 15px 10px; background-color: #eeeeee;">メールアドレス</th>
         <td style="padding: 15px 10px;"><%= @user.email %></td>
       </tr>
      </table>
