<div class="user-container">
  <div class="row">

          <div class='col-md-12'>
             <div class= "header-top">
               <p>
                 <% if @user == current_user %>
                        My Page
                    <% else %>
                        User Page
                    <% end %>
               </p>
               <%= image_tag 'top_haikeis.jpg'%>
             </div>
          </div>


    
      <!--会員情報-->
          <div class= "d-flex">
                <div class= 'profile_image' style= 'padding:0px 50px;'>
                  <%= image_tag @user.get_profile_image(150,150) ,class: "rounded-circle" %>
                </div>
                <div align= 'left'>
                     <div style= 'font-size: 50px; margin: 0px;'><%=@user.nickname%></div>
  
                     <% if @user == current_user %>
                     <div>name：
                          <%= @user.last_name_kana %> <%=@user.first_name_kana%>
                     </div>
                     <% end %>
  
                     <div>nationality：
                          <%= @user.nationality %>
                     </div>
                     <div>follows
                          <%= link_to followed_user_path(@user) do %>
                            <%= @user.active_relationships.count %>
                          <% end %>
                          followers
                          <%= link_to follower_user_path(@user) do %>
                            <%= @user.passive_relationships.count %>
                          <% end %>
                      </div>
                </div>
          </div>

        <!--会員情報編集-->
          <% if @user == current_user %>
              <div class='col-md-12'>
                   <div class=table_user style="text-align: center;">
                      <table  align="center" >
                        <tr>
                            <td>
                              <%= link_to edit_user_path(@user) do %>
                                  <div class="hbtn" style = "margin-bottom: 0px 50px;">
                                      <span>Edit User</span>
                                  </div>
                              <% end %>
                            </td>
                            <td>
                              <%= link_to new_event_path do %>
                                  <div class="hbtn" style = "margin-bottom: 0px 50px;">
                                      <span>＋New Event</span>
                                  </div>
                              <% end %>
                            </td>
                            <td>
                              <%= link_to calendars_path do %>
                                  <div class="hbtn" style = "margin-bottom: 0px 50px;">
                                     <span>My Calendar</span>
                                  </div>
                              <% end %>
                            </td>
                        </tr>
                      </table>
                    </div>
              </div>
          <% end %>
　　　　
　　　　<!--Follow機能-->
          <% if @user != current_user %>
              <table>
                <tr>
                    <td style="border:none;">
                        <% if @user.followed_by?(current_user) %>
                          <%= link_to user_relationships_path(@user), method: :delete do %>
                                  <div class="following-btn" style = "margin-bottom: 0px 50px;">
                                     <span>Following</span>
                                  </div>
                          <% end %>
                        <% else %>
                          <%= link_to user_relationships_path(@user), method: :post do %>
                                  <div class="follow-btn" style = "margin-bottom: 0px 50px;">
                                     <span>＋Follow</span>
                                  </div>
                          <% end %>
                        <% end %>
                    </td>
　　　　　　　　　
　　　　　　　　　<!--Chat機能-->
                    <td style="border:none;">
                        <% if current_user != @user %>
                          <%= link_to chat_path(@user.id) do %>
                                  <div class="chat-btn" style = "margin-bottom: 0px 50px;">
                                     <span>Chat Room</span>
                                  </div>
                          <% end %>
                        <% end %>
                    </td>
                </tr>
                </table>
          <% end %>
              
        <!--作成済みイベント一覧-->      
          <div class='col-md-12'>
                <h1 class=text-center style="color: #777777;">Events</h1>
                <div class="row">
                    <% @user_events.each do |event| %>
                        <div class="col-md-3 text-card-container">
                          <div class="card border border-2" style = "padding: 0px; margin: 20px;">
                              <%= image_tag event.image.variant(resize_to_fill: [450, 250])%>
                              <div class="tag-box">
                                <% event.tags.each do |tag| %>
                                   <span class="label"><%= tag.name %></span>
                                <% end %>
                              </div>
                          
                            <a href="/events/<%= event.id %>" class="card-body text-dark">
                              <h6 class="card-title"><strong><%= event.event_name %></strong></h6>
                              <p class="card-text">開催日時：<%= event.event_date.strftime('%Y/%m/%d %H:%M~') %></p>
                              <p>
                                  <% if @user == current_user %>
                                    予約数：<%= link_to event.reservations.count, reservations_path(id: event.id) %>名
                                  <% else %>
                                    <%= event.reservations.count %>
                                  <% end %>
                              </p>
                              <p>
                                   <% if @user == current_user %>
                                      <%= form_with model: @event, url: event_path(event.id), method: :put,local:true do |f| %>
                                        <%= f.select :event_status, options_for_select(Event.event_statuses_i18n.keys.map {|k| [I18n.t("enums.event.event_status.#{k}"), k]}, selected: event.event_status) %>
                                        <%= f.submit '更新', class: 'btn btn-success ml-5' %>
                                      <% end %>
                                   <% else %>
                                      <%= event.event_status_i18n %>
                                   <% end %>
                              </p>
                          <!--</div>-->
                           </a>
                          </div>
                        </div>
                    <% end %>
                    
                    <div class="col-md-12 text-right" style="margin: 0px;">
                     <%= paginate @user_events %>
                    </div>
                    
                </div>
          </div>
　　　　
　　　　<!--予約済み一覧-->
          <% if @user == current_user %>
            <div class='col-md-12'>
                <h1 class=text-center style="color: #777777;">Rservations</h1>
                <div class="row ">
                  <!--<div class="card-deck">-->
                    <% @user_reservations.each do |reservation| %>
                        <div class="col-12 col-md-3 col-lg-3 text-card-container">
                          <div class="card border border-2" style = "padding: 0px; margin: 20px;">
                              <%= image_tag reservation.event.image.variant(resize_to_fill: [450, 250])%>
                              <div class="tag-box">
                                <% reservation.event.tags.each do |tag| %>
                                   <span class="label"><%= tag.name %></span>
                                <% end %>
                              </div>
                        
                              <a href="/reservations/<%= reservation.id %>" class="card-body text-dark">
                                <h6 class="card-title"><strong><%= reservation.event.event_name %></strong></h6>
                                <p class="card-text"><%= reservation.event.event_date.strftime('%Y/%m/%d %H:%M~') %></p>
                                <p class="card-text"><%= reservation.event.event_status_i18n %></p>
                              </a>
                          </div>
                        </div>
                    <% end %>
                    <div class="col-md-12 text-right" style="margin: 0px;">
                       <%= paginate @user_reservations %>
                    </div>
                </div>
            </div>
          <% end %>
  </div>
</div>





