<div class="event-container">
  <div class='col-md-12'>
    <div class= "header-top">
         <p>All Event</p>
         <%= image_tag 'top_haikeis.jpg'%>
    </div>
  </div>
  

  <div class="row">
    <% @events.each do |event| %>
      <div class="col-3">
        <div class="card border border-2" style = "padding: 0px; margin: 20px;">
            <%= image_tag event.image.variant(resize_to_fill: [450, 250])%>
            <div class="tag-box">
              <% event.tags.each do |tag| %>
                 <span class="label"><%= tag.name %></span>
              <% end %>
            </div>
              <!--<div class="card-body">-->
              <a href="/events/<%= event.id %>" class="card-body text-dark">
                <h6 class="card-title"><strong><%= event.event_name %></strong></h6>
                <p class="card-text"><%= event.event_date.strftime('%Y/%m/%d %H:%M~') %></p>
                <p class="card-text"><%= event.event_status_i18n %></p>
                 <p class="card-text"><%= image_tag event.user.get_profile_image(50,50) ,class: "rounded-circle" %><%= event.user.last_name %><%= event.user.first_name %></p>
              <!--</div>-->
              </a>
        </div>
      </div>
    <% end %>
    <%= paginate @events %>
  </div>
</div>