<div class="main-container">
  <div class="row">
   <div class="col-5 pl-3">
      <%= image_tag @event.image.variant(resize_to_fill: [450, 250])%>
    </div>
    <div class="col-6">
      <h3><strong><%= @event.event_name %></strong></h3>

    <table border="0" style="margin:10px;">

      <!--イベント内容-->
       <tr>
         <th style="padding: 15px 10px;">イベント内容</th>
         <td style="padding: 15px 10px;"><%= @event.content %></td>
       </tr>

       <!--開催日時-->
       <tr>
         <th style="padding: 15px 10px;">開催日</th>
         <td style="padding: 15px 10px;"><%= @event.date %></td>
       </tr>

       <!--ステータス-->
       <tr>
         <th style="padding: 15px 10px;">ステータス</th>
         <td style="padding: 15px 10px;"><%= @event.event_status_i18n %></td>
       </tr>

       <!--参加料金-->
       <tr>
         <th style="padding: 15px 10px;">参加費</th>
         <td style="padding: 15px 10px;"><%= @event.entry_fee %> </td>
       </tr>

       <!--参加料金詳細-->
       <tr>
         <th style="padding: 15px 10px;">参加費詳細</th>
         <td style="padding: 15px 10px;"><%= @event.entry_fee_detail %> </td>
       </tr>

       <!--投稿者-->
       <tr>
         <th style="padding: 15px 10px;">主催者</th>
         <td style="padding: 15px 10px;"><%= @event.user.last_name %> <%= @event.user.first_name %></td>
       </tr>
      </table>

      <div><%= link_to"予約する",confirm_reservation_path,class: "btn btn-primary" %></div>

    </div>
  </div>
</div>
