<div class="main-container">
  <div class="row">
   <div class="col-5" style = "margin: 50px 0px 50px 50px;">
      <%= image_tag @event.image.variant(resize_to_fill: [600, 350])%>
    </div>
    <div class="col-6">

    <table border="1" style="margin:10px;">

      <!--イベント内容-->
       <tr>
         <th style="padding: 15px 10px; background-color: #800000; color: white;">イベント名</th>
         <td style="padding: 15px 10px;background-color: #ffffff;"><%= @event.event_name %></td>
       </tr>
      
       <tr>
         <th style="padding: 15px 10px; background-color: #800000; color: white;">イベント内容</th>
         <td style="padding: 15px 10px;background-color: #ffffff;"><%= @event.content %></td>
       </tr>

       <!--開催日時-->
       <tr>
         <th style="padding: 15px 10px; background-color: #800000; color: white;" >開催日</th>
         <td style="padding: 15px 10px; background-color: #ffffff;"><%= @event.event_date.strftime('%Y/%m/%d %H:%M~') %></td>
       </tr>

       <!--ステータス-->
       <tr>
         <th style="padding: 15px 10px; background-color: #800000; color: white;">ステータス</th>
         <td style="padding: 15px 10px; background-color: #ffffff;"><%= @event.event_status_i18n %></td>
       </tr>

       <!--参加料金-->
       <tr>
         <th style="padding: 15px 10px; background-color: #800000; color: white;">参加費</th>
         <td style="padding: 15px 10px; background-color: #ffffff;"><%= @event.entry_fee %> </td>
       </tr>

       <!--参加料金詳細-->
       <tr>
         <th style="padding: 15px 10px; background-color: #800000; color: white;">参加費詳細</th>
         <td style="padding: 15px 10px; background-color: #ffffff;"><%= @event.entry_fee_detail %> </td>
       </tr>

       <!--投稿者-->
       <tr>
         <th style="padding: 15px 10px; background-color: #800000; color: white;">主催者</th>
         <td style="padding: 15px 10px; background-color: #ffffff;">
           <%= link_to @event.user.last_name, user_path(@event.user_id) %>
          </td>
       </tr>
      </table>

      <div class=col-6 style = "margin-bottom: 50px;">
        <%= link_to"予約する",confirm_reservation_path,class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
