<div class="chat-container">
  <div class='col-md-12'>
      <section class="main-visual mt-4">
        <div class="mv-text">
          <h1 class=text-center style="color: white;"> Chat room <i></i></h1>
        </div>
      </section>
    </div>
      <h4 style="text-align:center; color: white;"><%="#{@user.last_name}さんとのchat"%></h4>

<!--チャット一覧-->
<%= render 'index'%>

<!--チャットルーム-->
 <div claass="chat_room";>
  <div id="chats">
   <% @chats.each do |chat|%>
    <%if chat.user_id==current_user.id%>
      <div class="mycomment">
        <p><%=chat.message%></p>
      </div>
    <%else%>
      <div class="fukidasi">
        <div class="faceicon">
          <img src="/assets/faceicon.png" alt="相手">
        </div>
        <div class="chatting">
          <div class="says">
            <p><%=chat.message%></p>
          </div>
        </div>
      </div>
    <%end%>
   <%end%>
  </div>
  <div class = "send_form">
   <%= form_with model: @chat do |f| %>
      <%= f.text_field :message %>
      <%= f.hidden_field :room_id %>
      <%= f.submit "送信" %>
   <% end %>
  </div>
 </div>
</div>
