<h3>予定を追加</h3>

<%= form_with(model: @calendar, local: true) do |f| %>

  <div class="title">
    <%= f.label :Title %>
    <%= f.text_field :calendar_title %>
  </div>

    <div class="time">
    <%= f.label :Date %>
    <%= f.datetime_select :start_time %>
  </div>

  <div class="content">
    <%= f.label :Detail %>
    <%= f.text_field :calendar_content %>
  </div>


  <div class="submit">
    <%= f.submit %>
  </div>
<% end %>