<!DOCTYPE html>
<html>
  <head>
    <title>HaoPengYou</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100" >
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand" href="/"><%= image_tag 'rogo.jpg', :size =>'90x90'%></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
      	  <ul class="nav navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="nav-item" >
                <%= link_to root_path, class: 'btn btn-light btn-lg' do %>
                <span class="fas fa-home"></span>
                 Home
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to user_path(current_user), class: 'btn btn-light btn-lg' do %>
                <span class="fas fa-users"></span>
                 My page
                <% end %>
              </li>

              <li class="nav-item">
                <%= link_to notifications_path, class: 'btn btn-light btn-lg' do %>
                <span class="fas fa-users"></span>
                 Notice
                <% end %>
              </li>


              <li class="nav-item">
                <%= link_to  events_path, class: 'btn btn-light btn-lg' do %>
                <span class="fas fa-book-open"></span>
                Event
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to  chats_path, class: 'btn btn-light btn-lg' do %>
                <span class="fas fa-book-open"></span>
                chat
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-light btn-lg' do %>
                <span class="fas fa-sign-out-alt"></span>
                 Log out
                <% end %>
              </li>
              <li class="nav-item">
                <span class="nav-link text-white">ようこそ、<%= current_user.last_name %>さん</span>
              </li>

            <% else %>
              <li class="nav-item">
                <%= link_to root_path, class: 'btn btn-light btn-lg' do %>
                <span class="fas fa-home"></span>
                 Home
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to about_path, class: 'btn btn-light btn-lg' do %>
                <span class="fas fa-link"></span>
                 About
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to events_path, class: 'btn btn-light btn-lg' do %>
                <span class="fas fa-events"></span>
                 Event
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_registration_path, class: 'btn btn-light btn-lg' do %>
                <span class="fas fa-user-plus"></span>
                 Sign up
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to user_session_path, class: 'btn btn-light btn-lg'  do %>
                <span class="fas fa-sign-in-alt"></span>
                 Log in
                <% end %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>

  <div class="body">
      <p class="notice"><%= notice %></p>
      <%= yield %>
     <footer>
       <p class="text-center"> Suzuki Kazuya</p>
     </footer>
    </div>
   </div>
  </body>
  </html>
